<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Sample Category"
            id="nu.gic.zil">
      </category>
      <view
            name="ProjectTasksView"
            icon="icons/sample.gif"
            category="nu.gic.zil"
            class="nu.gic.eclipse.views.ProjectTasksView"
            id="nu.gic.eclipse.views.ProjectTasksView">
      </view>
      <view
            class="nu.gic.test.ViewPart1"
            id="nu.gic.test.view1"
            name="ZoolView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
